#contact {

    .mail-contact:before, .mark-contact:before {
        content: url(../images/mail.png);
        height: 20px;
        width: 20px;
        margin-right: 15px;
        position: relative;
        top: 3px;
    }

    .mark-contact:before { content: url(../images/mark.png); }

}

.contact-page-title {
    font-weight: 500;

    .highlight { color: #939393; }
}

input, textarea {

    @include form-placeholder { 
        color: #a7a7a7 !important;
        font-weight: 500; 
    }
}

textarea { resize: none !important; }

.map {
    background: url(../images/map.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 400px;
    width: 100%;
    cursor: pointer;
} 