.product-facts {

    background: url('../images/about-facts.png');
    background-color: #f5f5f5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    height: 300px;
}
.product-order { padding: 40px 0 80px 0; }