.top-info .active { color: #acacac !important; }

.main-wrapper.container {  
    border-top: 1px solid #f0f0f0;  
    border-bottom: 1px solid #f0f0f0;
}

.navbar-light {

    .nav-item {

        &.active a { color: #498238 !important; }

        .nav-link {
            display: inline-block;
            padding: 20px 25px !important;
            font-weight: 700;


        }

    }
}